
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #f0f0f0;
    background-color: #0a0a14;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Стили для навигации */
.header {
    background-color: rgba(10, 10, 20, 0.9);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 15px 0;
    border-bottom: 1px solid #2a2a3a;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f0f0f0;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.logo i {
    color: #ff4754;
    margin-right: 10px;
    font-size: 1.8rem;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-menu li {
    margin-left: 30px;
}

.nav-menu a {
    text-decoration: none;
    color: #f0f0f0;
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #ff4754;
}

.btn-nav {
    background-color: #ff4754;
    padding: 8px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-nav:hover {
    background-color: #faeeee;
    color: #fff;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
}


@media (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        flex-direction: column;
        background-color: rgba(10, 10, 20, 0.95);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        padding: 20px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-menu li {
        margin: 15px 0;
    }

    .hamburger {
        display: block;
    }
}